.toolbar-items{
    display: block;
    background-color: rgb(61, 56, 99);
    align-content: center;
    justify-content: center;
    align-items: center;
}
.toolbar-item{
    padding: 20px 10px;
    margin: 20px 10px;
    color: whitesmoke;
}
.toolbar-title{
    align-self: center;
    color: whitesmoke;
}

