<div mat-toolbar *ngIf="isLoggedIn()">
    <div mat-toolbar-row class="toolbar-items">
        <button 
         mat-icon-button 
         routerLink="/movies">
            <mat-icon class="toolbar-item">movie</mat-icon>
        </button>
        <button 
         mat-icon-button 
         routerLink="/profile">
            <mat-icon class="toolbar-item">person</mat-icon>
        </button>
        <button
         mat-icon-button 
         aria-label="Logout"
         (click)="logoutUser()">
            <mat-icon class="toolbar-item">exit_to_app</mat-icon>
        </button>
        <button 
         class="toolbar-title"
         mat-icon-button>
            <span class="toolbar-item">myFlix</span>
        </button>
    </div>
</div>