<div mat-card class="profile">
    <mat-card-title>Profile: <br/>
    <p>All required fields update when changes are made.</p></mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label> Username:</mat-label>
            <input
            [(ngModel)] = "userData.Username"
            matInput
            
            type="text"
            name="username"
            required
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label> Password:</mat-label>
            <input
            [(ngModel)] = "userData.Password"
            matInput
            placeholder="Password"
            type="password"
            name="password"
            required
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label> Email:</mat-label>
            <input
            [(ngModel)] = "userData.Email"
            matInput
            placeholder="New email"
            type="email"
            name="email"
            required
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label> Birthday:</mat-label>
            <input
            [(ngModel)] = "userData.Birthday"
            matInput
            placeholder="update birthday"
            type="date"
            name="birth-date"
            />
        </mat-form-field>
        <p>*required fields</p>
        <button
        mat-raised-button
        color="primary"
        (click)="updateUser()"
        >Update</button>
    </mat-card-content>
    <mat-card-actions>
        <button 
        mat-raised-button 
        (click)="deleteUser()"
        color="warn"
        >   
            Delete Account
        </button>
    </mat-card-actions>
    <mat-card-content *ngFor="let movie of FaveMovies;">
        <mat-card-header>
            <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{movie.ImagePath}} alt={{movie.Title}}/>
    </mat-card-content>
</div>